
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap');

@font-face
{
	font-family: 'e1234';
	src: url(../fonts/e1234.regular.ttf);
}

:root
{
	--channel-title-font: 'Roboto Condensed', sans-serif;
	--digital-clock-font: 'e1234', monospace;

	--thing: 61px 33px;
}

body
{
	margin: 0;
	padding: 0;
}

.maindiv
{
	margin: 0;
	padding: 0;
}

.channels-container
{
	margin: 59px 0px 0px 102px;
	padding: 0px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 12px;
}

.channel-svg
{
	margin: 0;
	padding: 0;
}

.channel
{
	margin: 0;
	padding: 0;

	min-width: 238px;
	min-height: 124px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.channel-title
{
	margin: 0;
	padding: 3px 0 0 0;

	font-family: var(--channel-title-font);
	font-weight: 500;
	font-size: 25px;
	color: white;
}
