
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

@font-face
{
	font-family: 'Digital Display';
	src: url(../fonts/Digital-Display.ttf);
}

:root
{
	--channel-title-font: 'Roboto Condensed', sans-serif;
	--blank-channel-text-font: 'Lato', sans-serif;
	--digital-clock-font: 'Digital Display', monospace;
	--date-font: 'Roboto', sans-serif;

	--channel-inside-width: 242px;
	--channel-inside-height: 128px;
}

html, body
{
	height: 100%;
}

body
{
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
}

.maindiv
{
	flex-grow: 1;

	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background: linear-gradient(
		to bottom,
		#F0F0F0,
		#F0F0F0 33.33%,
		#E4E4E4 33.33%,
		#E4E4E4 66.67%,
		#E4E4E4
	);
	background-size: 100% 6px;
}

.channels-container
{
	flex-shrink: 1;

	margin: 0 0 0 0;
	padding: 59px 0 15px 0;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.channels-container-column
{
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	gap: 12px;
}

.channels-container-row
{
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 12px;
}

.channel-svg
{
	margin: 0;
	padding: 0;
}

.channel
{
	margin: 0;
	padding: 0;

	min-width: var(--channel-inside-width);
	min-height: var(--channel-inside-height);

	display: flex;
	flex-direction: column;
	align-items: center;
}

.blank-channel
{
	margin: 0;
	padding: 0;

	min-width: var(--channel-inside-width);
	min-height: var(--channel-inside-height);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background: linear-gradient(
		to bottom,
		#D8D8D8,
		#D8D8D8 28.57%,
		#CFCFCF 28.57%,
		#CFCFCF 71.43%,
		#CFCFCF
	);
	background-size: 100% 7px;
	border-radius: 15px;
}

.blank-channel-text
{
	margin: 0;
	padding: 0;

	font-family: var(--blank-channel-text-font);
	font-weight: 500;
	font-size: 40px;
	color: #00000007;
}

.channel-title
{
	margin: 0;
	padding: 10px 0 0 0;

	font-family: var(--channel-title-font);
	font-weight: 400;
	font-size: 27px;
	color: white;
	text-shadow: 2px 2px #00000090;
}

.bottom-bar-container
{
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.bottom-bar-left-svg, .bottom-bar-right-svg
{
	margin: 0;
	padding: 0;

	flex-shrink: 0;
}

.bottom-bar-middle
{
	flex-grow: 1;

	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
}

.bottom-bar-middle-upper
{
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	align-items: center;

	height: 76px;

	border-bottom: 4px solid #2FBDEE;
}

.bottom-bar-middle-lower
{
	flex-grow: 1;

	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	align-items: center;

	background: linear-gradient(
		to bottom,
		#9F9FA3,
		#D0D1D9
	);
}

.digital-clock-text
{
	margin: 4px 0 0 0;
	padding: 0;

	font-family: var(--digital-clock-font);
	font-size: 88px;
	font-weight: normal;
	color: #9B9B9B;
}

.date-text
{
	margin: 0;
	padding: 6px 0 0 0;

	font-family: var(--date-font);
	font-size: 50px;
	font-weight: 600;
	color: #9B9B9B;
}
